<!DOCTYPE html>
<html lang="en">
<head>
    
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background: #2c3e50; /* Fundo escuro */
            color: #000000; /* Cor do texto */
        }
        .navbar {
            background: #000000; /* Cor do cabeçalho */
            
        }
        .navbar-brand span {
            font-size: 1.5rem;
            font-weight: bold;
            cursor: pointer; /* Adiciona cursor pointer para indicar que é clicável */
        }
        .navbar-item {
            margin: right;
        }
        .nav-titulo {
            color: #ffffff;
        }
        .nav-link {
            color: #ffffff !important; /* Cor do texto das opções no cabeçalho */
        }
        .car-card {
            background-color: #cbd2d8;
            margin-bottom: 20px;
            border-radius: 15px;
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
            transition: all 0.3s linear;
        }
        .car-card:hover {
            transform: scale(1.03);
        }
        .car-card .card-body {
            padding: 15px;
        }
    </style>
    <title>Santa Cruz</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light ">
       
            <img src="logo.png" width="50px" alt="Fiat Logo">
            
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-titulo">
                    <h1><a class="nav-titulo" href="/">Santa Cruz</a></h1>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/funcionarios">Funcionarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/clientes">Clientes</a>
                </li>
                
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownOrder" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ordenar
                    </a>
                    <div class="dropdown-menu w-100" aria-labelledby="navbarDropdownOrder">
                        <a class="dropdown-item" href="/ordenarPorPreco">Preço</a>
                        <a class="dropdown-item" href="/ordenarPorAno">Ano</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/agrupar">Agrupar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/selecionar">Selecionar</a>
                </li>
                
            </ul>
        </div>
        
        <!-- Botão Adicionar Verde com link -->
        <a href="/adicionarCarro" class="btn btn-success ml-auto">Adicionar</a>
    </nav>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <% carros.forEach(function(carro) { %>
                <div class="col-md-4 mb-4">
                    <div class="card car-card h-100">
                        <img src="carro.png" alt="<%= carro.modelo %>" class="card-img-top" style="object-fit: cover; height: 200px;">

                        <div class="card-body text-center">
                            <h4 class="card-title" style="font-family: 'Arial', sans-serif;"><strong><%= carro.modelo %></strong></h5>
                            <ul class="list-unstyled">
                                <li><h5><strong><%= carro.marca %></strong></h5></li>
                                <li><h5><strong><%= carro.ano %></strong></h5></li>
                                <li><h5><strong>R$ <%= carro.preco %></strong></h5></li>
                                <!-- Botões Editar e Deletar -->
                                <div class="mt-3">
                                    <a href="/editarCarro/<%= carro.idCarro %>" class="btn btn-primary btn-sm">Editar</a>
                                    <a href="/deleteCarro/<%= carro.idCarro %>" class="btn btn-danger btn-sm">Deletar</a>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Adicione eventos de hover para os itens do menu
            var navLinks = document.querySelectorAll('.nav-link');
            navLinks.forEach(function(navLink) {
                navLink.addEventListener('mouseover', function() {
                    this.style.color = '#ffcc00'; // Cor ao passar o ponteiro
                });
                navLink.addEventListener('mouseout', function() {
                    this.style.color = '#ffffff'; // Cor ao retirar o ponteiro
                });
            });
        });
    </script>
</body>
</html>
